.row
  .span2
    = paginate @messages
  .span1
  .span5
    %h2
      - if controller.action_name == 'index'
        = 'Sent messages'
      -else
        = 'Received messages'
  .span2
  .span2
    - if controller.action_name == 'received'
      = link_to 'Mark all as readed', class: 'link-position', controller: :messages, action: :mark_all_as_readed
.row
  .span12
    %table.table.table-striped
      %tr
        - if controller.action_name == 'index'
          %th Recipient
        -else
          %th From

        %th Subject
        %th Content
        %th
        %th

      - @messages.each do |message|
        %tr{ class: (message.msg_read ? '' : 'info')}
          - if controller.action_name == 'index'
            %td= User.find(message.recipient).full_name
          -else
            %td= User.find(message.sender).full_name
          
          %td= message.subject
          %td= message.content
          %td= link_to 'Show', message, id: "view_message_#{message.id}"
          %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }, id: "delete_message_#{message.id}"
