%h1 Listing messages

%table
  %tr
    %th Recipient
    %th Subject
    %th Content
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= User.find(message.recipient).full_name
      %td= message.subject
      %td= message.content
      %td= link_to 'Show', message
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }
