%p#notice= notice

%p
  %b Recipient:
  = @message.recipient
%p
  %b Sender:
  = @message.sender
%p
  %b Subject:
  = @message.subject
%p
  %b Content:
  = @message.content
%p
  %b Msg read:
  = @message.msg_read

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
