.hero-unit-tu
  %p#notice= notice
  .row
    .span12
      %strong Recipient:
      = @message.recipient
  .row
    .span12
      %strong Sender:
      = @message.sender
  .row
    .span12
      %strong Subject:
      = @message.subject
  .row
    .span12
      %strong Content:
      = @message.content

  = link_to 'Back', messages_path
