= form_for(@topic) do |f|
  - if @topic.errors.any?
    .label.label-important
      = pluralize(@topic.errors.count, "error") 
      prohibited this topic from being saved:
    %ul
      - @topic.errors.full_messages.each do |msg|
        %li.label.label-important= msg

  = f.text_field :title, class: 'input-block-level', placeholder: "Title"
  = f.text_area :content, class: 'input-block-level', placeholder: "Content"
  .actions
    = f.submit 'Create topic', class: 'btn btn-large.btn-primary' 