.hero-unit-tu
  = search_form_for @search, url: root_url, nethod: :get do |f|
    .row
      .span1
      .span3
        = f.text_field :title_cont, class: 'input-block-level', placeholder: 'Topic title'  
      .span3
        = f.text_field :content_cont, class: 'input-block-level', placeholder: 'Topic content'  
      .span3
        = f.select :user_id_eq, select_users_for(params[:q] ? params[:q][:user_id_eq] : '').html_safe, multiple: true, class: 'form-control', include_blank: 'Select User name'
    .row
      .span1
      .span3
        .input-group.input-group-sm.input-append.date.datepicker
          = f.text_field :created_at_gteq, 'data-behaviour' => 'datepicker', class: 'input-block-level', placeholder: 'Date From', value: params[:q] ? "#{params[:q][:created_at_gteq]} 23:59:59": ''
          %span.add-on#from_date_id
            %i.icon-th
      .span3
        .input-group.input-group-sm.input-append.date.datepicker
          = f.text_field :created_at_lteq, 'data-behaviour' => 'datepicker', class: 'input-block-level', placeholder: 'Date To', value: params[:q] ? "#{params[:q][:created_at_lteq]} 23:59:59": ''
          %span.add-on#to_date_id
            %i.icon-th
      .span1
      .span3
        = f.submit 'Search', class: 'btn btn-large.btn-primary'
.row
  .span2
    = paginate @topics
  .span3  
  .span3
    %h2 Topics
  .span2.link-position
    = link_to 'New Topic', new_topic_path

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th 
            = sort_link @search, :title, 'Title'
          %th 
            = sort_link @search, :content, 'Content'
          %th User name
          %th
            = sort_link @search, :created_at, 'Created at'
          %th
        %tbody
          - @topics.each do |topic|
            %tr
              %td
                = topic.title[0..15]
                -if topic.title.length > 15 
                  = link_to '...', topic
              %td
                -if topic.content and topic.content.length > 15 
                  = topic.content[0..15]
                  = link_to '...', topic
                -else
                  = topic.content
              %td= topic_owner(topic.user_id)
              %td= topic.created_at.to_s[0..10]
              %td= link_to 'View', topic