= form_for(@subject) do |f|
  - if @subject.errors.any?
    .label-important
      = pluralize(@subject.errors.count, "error")
      prohibited this subject from being saved:
      %ul
        - @subject.errors.full_messages.each do |msg|
          %li.label-important= msg
          
  = f.text_field :title, class: 'input-block-level', placeholder: "Title"
  = f.text_area :exam_info, class: 'input-block-level', placeholder: "Exam information"
  = f.text_area :subject_info, class: 'input-block-level', placeholder: "Subject information"
  = f.text_area :requirements, class: 'input-block-level', placeholder: "Requirements"
  .actions
    = f.submit 'Update', class: 'btn btn-large.btn-primary' 