.hero-unit-tu
  = search_form_for @search, method: :get do |f|
    .row
      .span1
      .span3
        = f.text_field :title_cont, class: 'input-block-level', placeholder: 'Title'  
      .span1
      .span3
        = f.text_field :exam_info_cont, class: 'input-block-level', placeholder: 'Exam information'  
      .span1
      .span3
        = f.text_field :subject_info_cont, class: 'input-block-level', placeholder: 'Subject information'  
      .span1
      .span3
        = f.text_field :requirements_cont, class: 'input-block-level', placeholder: 'Requirements'  
      .span1
      .span3
        = f.select :user_id_eq, select_teachers_for(params[:q] ? params[:q][:user_id_eq] : '').html_safe, multiple: true, class: 'form-control', include_blank: 'Select user'
      .span1
    .row
      .span1
      .span3
        .input-group.input-group-sm.input-append.date.datepicker
          = f.text_field :created_at_gteq, 'data-behaviour' => 'datepicker', class: 'input-block-level', placeholder: 'Date From', value: datepicker_proper_time(params)
          %span.add-on#from_date_id
            %i.icon-th
      .span1
      .span3
        .input-group.input-group-sm.input-append.date.datepicker
          = f.text_field :created_at_lteq, 'data-behaviour' => 'datepicker', class: 'input-block-level', placeholder: 'Date To', value: datepicker_proper_time(params)
          %span.add-on#to_date_id
            %i.icon-th
      .span3
      .span1
        = f.submit 'Search', class: 'btn btn-large.btn-primary'

.row
  .span2
    = paginate @subjects
  .span3
  .span4
    %h2 Listing subjects
  .span2.link-position
    = link_to 'New Subject', new_subject_path if current_user.professor?
.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th 
            = sort_link @search, :title, 'Title'
          %th
            = sort_link @search, :exam_info, 'Exam info'
          %th
            = sort_link @search, :subject_info, 'Subject info'
          %th
            = sort_link @search, :requirements, 'Requirements'
          %th Teacher name
          %th
            = sort_link @search, :created_at, 'Created at'
          -if current_user.professor?
            %th
            %th
            %th
      %tbody
        - @subjects.each do |subject|
          %tr
            %td
              = subject.title[0..15]
              -if subject.title.length > 15 
                = link_to '...', subject
            %td
              -if subject.exam_info and subject.exam_info.length > 15 
                = subject.exam_info[0..15]
                = link_to '...', subject
              -else
                = subject.exam_info
            %td
              -if subject.subject_info and subject.subject_info.length > 15 
                = subject.subject_info[0..15]
                = link_to '...', subject
              -else
                = subject.subject_info
            %td
              -if subject.requirements and subject.requirements.length > 15 
                = subject.requirements[0..15]
                = link_to '...', subject
              -else
                = subject.requirements
            %td= subject_owner(subject.user_id)
            %td= subject.created_at.to_s[0..10]
            %td= link_to 'View', subject, id: "view_subject_#{subject.id}"
            -if current_user.professor?
              %td= link_to 'Edit', edit_subject_path(subject), id: "edit_subject_#{subject.id}"
              %td= link_to 'Destroy', subject, method: :delete, id: "delete_subject_#{subject.id}", data: { confirm: 'Are you sure?' }