.hero-unit-tu
  %p#notice= notice
  .row
    .span12
      %strong Title:
      = @subject.title
  .row
    .span12
      %strong Exam info:
      = @subject.exam_info
  .row
    .span12
      %strong Subject info:
      = @subject.subject_info
  .row
    .span12
      %strong Requirements:
      = @subject.requirements
  .row
    .span12
      %strong Teacher:
      = subject_owner(@subject.user_id)
  -if current_user.professor?
    = link_to 'Edit', edit_subject_path(@subject)
  .row
    .span4
    .span4
      %h3 Comments
  .row
    .span12
      = render 'comments/comments'
      = render 'comments/form'